<!DOCTYPE html>
<html lang="en">
<head>
  <title>Graph Database</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- bootstrap file  -->
  <link rel="stylesheet" href="{{url_for('static',filename="css/bootstrap.min.css")}}">
  <script src="js/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <!-- bootstrap files ended -->

  <!-- neovis.js files -->
  <script type="text/javascript" src="js/neovis.js"></script>
  <script type="text/javascript" src="https://cdn.neo4jlabs.com/neovis.js/v1.2.1/neovis.js"></script>
  <script src="https://rawgit.com/neo4j-contrib/neovis.js/master/dist/neovis.js"></script>
  <script  src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
  <!-- neovis.js files ended -->

  <!-- display style -->
  <style type="text/css">
  html, body {
           font-size: 16px;
       }
       #viz {
           max-width: 100%;
           height: 550px;
           font: 22px arial;
           border: 1px solid lightgray;
           display: inline-block;
           float: left;
       }
/*        #Buttons {
            padding-left: 10px;
            display: inline-block;
            float: left;
        }*/
  </style>
  <!-- style setting ended -->

  <!-- neovis script -->
  <script>
  // define config car
        // instantiate nodevis object
        // draw
        var viz;

        function draw() {
            var config = {
                container_id: "viz",
                server_url: "bolt://3.233.241.33:7687",
                server_user: "neo4j",
                server_password: "knees-gear-wreck",
                "arrows": true,
                labels: {
                   "deal_no": {
                        "caption": "number",
                        "size": "pagerank",
                        "community": "community"
                        //"sizeCypher": "MATCH (n) WHERE id(n) = {id} MATCH (n)-[r]-() RETURN sum(r.weight) AS c"
                    }
                },
                relationships: {
                    "SELLS_TO": {
                        "thickness": "weight",
                        "caption": true
                    },
                    
                },
                initial_cypher: "MATCH (n),(n1)-[r]->(n2) RETURN r,n,n1,n2",
                //initial_cypher: "MATCH (n), (n1)-[r:ANSWERED]->(n2) RETURN r,n,n1,n2"
            };

            viz = new NeoVis.default(config);
            viz.render();
            console.log(viz);
        }
  </script>
  <!-- neovis script ended -->

<!-- DRAW -->
  <body onload="draw()">
    <div id="viz"></div>
  </body>
</head>
</html>